@import "variables";
@mixin social-button($brand-color, $brand-icon) {
  background: $brand-color;
}

#body {

  hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 0rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #696969;
    border-left: 0;
  }

  &_top {

    &_nav_bar {

      &_navbar {

        &_links {
          img {
            height: 75px;
            width: 75px;
            float: left;
          }

          ul {
            padding-top: 15px;
            float: right;

            li {
              padding-left: 0px;
              padding-right: 0px;
              margin-left: 0px;
              margin-right: 0px;

              a {
                color: #5C213C;
                font-size: 15px;
              }

              //a:hover {
              //  border-bottom: 5px solid #000000;
              //}

            }
          }

        }

        @media screen and (max-width:500px){
          width: 100%;
        }

      }

    }
  }

  &_banner {
    width: 100%;
    height: 560px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_content {

      p {
        color: white;
        font-size: 40px;
        margin-top: 150px;
        line-height: 1.1em;
      }

      button {
        background-color: #DA7D1F;
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
      }

      span {
        margin-left: 25px;
      }
    }

    @media screen and (max-width:500px)
    {
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
  }

  &_stickers {
    &_one {
      p {
        display: inline-block;
      }

      &_paragraph {
        background-color: #5C213C;
        font-size: 12px;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;

      }

      &_paragraphs {
        #one_pso
        {
          padding-left: 10px;
          padding-right: 10px;
        }
        #one_psot
        {
          color: #626df9;
        }
        #one_pst
        {
          padding-left: 10px;
          padding-right: 10px;
        }
        #one_pst
        {
          color: #D81A01;
        }
        #one_psr
         {
           padding-left: 10px;
           padding-right: 10px;
         }
        #one_psrt
        {
          color: #9941E4;
        }
        #one_psf
        {
          padding-left: 10px;
          padding-right: 10px;
        }
        #one_psft
        {
          color: #ECB723;
        }
        #one_psi
        {
          padding-left: 10px;
          padding-right: 10px;
        }
        #one_psit
        {
          color: #559131;
        }
        #one_pss
        {
          padding-left: 10px;
          padding-right: 10px;
        }
        #one_psst
        {
          color: #D82B24;
        }
      }
    }


  }

  &_content {
    height: 280px;
    color: white;

    &_one {
      background-color: #5C213C;
      padding-left: 40px;
      @media screen and (max-width:500px){
        padding-left: 10px;
      }

      button {
        background-color: #DA7D1F;
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;

        @media screen and (max-width:500px){
          padding : 5px 5px;
          font-size: 12px;
        }
      }

      #one {
        padding-top: 40px;
        font-size: 22px;
        font-weight: bolder;
        @media screen and (max-width:500px){
          padding-top: 16px;
        }
      }

      #two {
        font-size: 18px;
        line-height: 1.1em;
        @media screen and (max-width:500px){
          font-size: 13px;
        }
      }
    }

    &_two {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("mobile.jpeg");
      font-size: 22px;
      font-weight: bolder;
      padding-top: 230px;
      padding-left: 40px;

      @media screen and (max-width:500px){
        padding-top: 100px;
      }
    }
  }

  &_n {
    background-color: #f6f7f8;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 45px;
    &_news {

      color: black;

      p {
        font-weight: bolder;
        font-size: 20px;
        margin-top: 20px;
      }

      button {
        background-color: grey;
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
      }

      #span_one {
        float: right;
      }
    }

    &_read {
      //height: 300px;
      margin-top: 10px;

      &_one {
        //height: 300px;

        &_indigo {
          padding-left: 28px;
          padding-top: 50px;
          width: 100%;
          height: 150px;
          background-color: #5C213C;
          font-size: 17px;
          color: white;
        }

        &_white {
          padding-left: 30px;
          padding-top: 17px;
          width: 100%;
          height: 150px;
          background-color: white;
          font-size: 16px;
          padding-right: 15px;

          small {
            padding-top: 20px;
            float: right;
          }
        }
      }

      &_two {
        //height: 300px;

        &_indigo {
          padding-left: 30px;
          padding-top: 50px;
          width: 100%;
          height: 150px;
          background-color: #5C213C;
          font-size: 17px;
          color: white;
        }

        &_white {
          padding-left: 30px;
          padding-top: 17px;
          width: 100%;
          height: 150px;
          background-color: white;
          font-size: 16px;
          padding-right: 5px;

          small {
            padding-top: 20px;
            
          }
        }

      }

      &_three {
        //height: 300px;

        &_indigo {
          padding-left: 28px;
          padding-top: 50px;
          width: 100%;
          height: 150px;
          background-color: #5C213C;
          font-size: 17px;
          color: white;
        }

        &_white {
          padding-left: 30px;
          padding-top: 17px;
          width: 100%;
          height: 150px;
          background-color: white;
          font-size: 16px;
          padding-right: 15px;

          small {
            padding-top: 20px;
            float: right;
          }
        }
      }
    }
  }

  &_coffee
  {
    background: url("coffee.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20px;

    &_begin
    {
      height: 400px;
      &_y
      {
        height: 400px;
        &_content
        {

          @media screen and (max-width:500px){
            padding-left:10px;
          }

           background-color: #5C213C;
           width: 100%;
            border-top: 5px solid #DA7D1F;
            padding-left:40px;
           button {
            background-color: #DA7D1F;
            border: none;
            color: white;
            padding: 15px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
          }
    
          #cof_one {
            padding-top: 40px;
            font-size: 22px;
            font-weight: bolder;
            color:white;
          }
    
          #cof_two {
            font-size: 18px;
            line-height: 1.1em;
            color: white;;
          }
        }
      } 
     
    }
   
  }

  &_map
  {
    height: 400px;
    &_start
    {
      height: 400px;
      margin-top: 20px;
      margin-bottom: 20px;
      &_one
      {
        height: 400px;
         background : url("map.jpg")
      }
      &_two
      {

        padding-left: 25px;
        button {
          background-color: #000000;
          border: none;
          color: white;
          padding: 15px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
        }

        p{
          font-size: 33px;
          padding-top: 35px;

          @media screen and (max-width:500px){
            font-size: 16px;
          }
        }
      }
    }
  }

   &_footer
   {
     background-color: #000000;;
     &_social
     {
       margin-top: 20px;
       color: white;
       height: 100px;

       &_content
       {
         #social_p
         {
           margin-top: 50px;
           font-weight: bold;
         }
         #social_one
         {
           margin-top: 50px;
         }
         #sales
         {
           float: right;
           margin-top: 50px;
           color: #DA7D1F;
         }
         p{
           display: inline-block;
         }

         .fab
         {
           font-size: 17px;
           border: dimgrey;
           border-width: 3px;
           background-color: #DA7D1F;
           color: white;
           width: 150px;
         }
       }

     }

     &_links
     {
       color: white;
      padding-top: 30px;

       @media screen and (max-width:500px){
        padding-top: 5px;
       }
       #title
       {
         font-weight: bolder;
       }
       #title_two
       {
         font-weight: bolder;
       }

       &_third
       {

         &_one
         {
           background: url("logo.png");
           width: 100%;
           height: 100%;
         }

         &_two
         {
           #button {
             background-color: #1F2021;
             border: none;
             color: dimgrey;
             padding: 15px 15px;
             text-align: center;
             text-decoration: none;
             display: inline-block;
             font-size: 16px;
             margin: 4px 2px;

             span{
               background-color: #DA7D1F;
               color: white;
               width: 50px;
             }

             i{
               background-color: #DA7D1F;
             }
           }

         }
       }
     }

     &_copy
     {
       color: white;
       font-size: 18px;
       span{
         float: right;
       }
     }
   }

}